header {
    background-image: url(/assets/images/header-background.jpg);
    background-position: center bottom;
}


section#contact {
    background-image: url(/assets/images/contact-map-image.png);
}

#contact p {
    color: #fff;
}
