html,
body {
    width: 100%;
    height: 100%;
}

header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/header-background.jpg);
    background-position: center bottom;
}

div.arhiva, div#collapseArhiva {
    margin-top: 4em;
}

section#contact {
    background-image: url(/assets/images/contact-map-image.png);
}

#contact p {
    color: #fff;
}
