    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    {% for post in site.categories.portfolio %}
    {% if post.lang == page.lang %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.id | remove: "/" }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>{{ post.title }}</h2>
                            <p class="item-intro text-muted">{{ post.subtitle }}</p>
                            {% if post.image %}
                            <img class="img-responsive img-centered" src="{{ post.image }}" alt="">
                            {% else %}
                            <img class="img-responsive img-centered" src="img/portfolio/roundicons-free.png" alt="">
                            {% endif %}
                            
                            {{ post.content }}
                            
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> {{ page.portfolio-close }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
