    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ page.services-heading }}</h2>
                    <h3 class="section-subheading text-muted">{{ page.services-subheading }}</h3>
                </div>
            </div>
            <div class="row text-center">
                {% include html/services-items.html %}
            </div>
        </div>
    </section>
